{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="{% static 'user/css/create-company.css' %}">
    <link rel="stylesheet" href="{% static 'product/css/product/style.css' %}">
    <link rel="stylesheet" href="{% static 'user/js/script.js' %}">
</head>
<body>

{% include 'messages.html' %}
{% include 'nav_bar.html' %}

<div class="container">
    <section class="create-company-section">
        <div class="create-company">
            <div class="form-steps">
                <div class="form-step {% if step == 0 %}active{% endif %}">
                    <div class="step-circle">
                        <i class="fa-solid fa-circle"></i>
                    </div>
                    <div class="step-text">
                        step-1
                    </div>
                </div>
                <div class="form-step {% if step == 1 %}active{% endif %}">
                    <div class="step-circle">
                        <i class="fa-solid fa-circle"></i>
                    </div>
                    <div class="step-text">
                        step-2
                    </div>
                </div>
                <div class="form-step {% if step == 2 %}active{% endif %}">
                    <div class="step-circle">
                        <i class="fa-solid fa-circle"></i>
                    </div>
                    <div class="step-text">
                        step-3
                    </div>
                </div>
                <div class="form-step {% if step == 3 %}active{% endif %}">
                    <div class="step-circle">
                        <i class="fa-solid fa-circle"></i>
                    </div>
                    <div class="step-text">
                        step-4
                    </div>
                </div>
                <div class="form-step {% if step == 4 %}active{% endif %}">
                    <div class="step-circle">
                        <i class="fa-solid fa-circle"></i>
                    </div>
                    <div class="step-text">
                        step-5
                    </div>
                </div>
            </div>
            <div class="company-form">
                <form class="form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ forms.step.as_hidden }}
                    <div class="error-messages">
                        <ul>
                            {% for field, errors in form.errors.items %}
                                {% for error in errors %}
                                    <li>{{ field }}: {{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>


                    {% if step == 0 %}
                        <input type="hidden" name="step" value="0">
                        <div class="form-group">
                            <label for="name" class="form-label">Выведите название компании: </label>
                            {{ forms.0.company_name }}
                        </div>

                        <div class="form-group" id="category-group">
                            <label for="name" class="form-label">Категория: </label>
                            {{ forms.0.category }}
                        </div>
                        <div class="form-group" id="subcategory-group">
                            <label for="subcategory" class="form-label">{% translate "Субкатегория" %}:
                                {% for error in form.sub_category.errors %}
                                    <div class="error-message">{{ error }}</div>
                                {% endfor %}</label>
                            <div id="subcategories-checkboxes">
                                {{ forms.0.subcategories }}
                            </div>
                        </div>
                        <div class="form-group" id="tags-group" style="display: block">
                            <label for="tags" class="form-label">{% translate "Теги" %}:
                                {% for error in form.tags.errors %}
                                    <div class="error-message">{{ error }}</div>
                                {% endfor %}</label>
                            <div id="tags-checkboxes">
                                {{ forms.0.tags }}
                            </div>
                        </div>

                    {% endif %}

                    {% if step == 1 %}
                        <input type="hidden" name="step" value="1">
                        <div class="form-group">
                            <label for="name" class="form-label">Выведите номер телеграмма: </label>
                            {{ forms.1.telegram }}
                        </div>

                        <div class="form-group">
                            <label for="name" class="form-label">Выведите номер ватсапа: </label>
                            {{ forms.1.whatsapp }}
                            {{ wizard.form.whatsapp }}
                        </div>

                        <div class="form-group">
                            <label for="name" class="form-label">Выведите ссылку вашего сайта: </label>
                            {{ forms.1.website }}
                            {{ wizard.form.website }}
                        </div>

                        <div class="form-group">
                            <label for="name" class="form-label">Выведите ссылку локации вашего компании: </label>
                            {{ forms.1.url_maps }}
                        </div>
                    {% endif %}

                    {% if step == 2 %}
                        <input type="hidden" name="step" value="2">

                        <div class="form-group">
                            <div class="hero">
                                <label for="input-file" id="drop-area">
                                    {{ forms.2.logo }}
                                    <div id="img-view">
                                        <img src="{% static 'user/image/upload-icon.png' %}" alt="upload image">
                                        <div class="img-view-text">
                                            <p>Drag and drop or click here <br>to upload image</p>
                                            <span>Upload any image from desktop</span>
                                        </div>
                                    </div>
                                </label>
                            </div>
                        </div>

                    {% endif %}

                    {% if step == 3 %}
                        <div class="form-group">

                            <div class="hero">
                                <label for="input-file" id="drop-area">
                                    {{ forms.3.banner }}
                                    <div id="img-view">
                                        <img src="{% static 'user/image/upload-icon.png' %}" alt="upload image">
                                        <div class="img-view-text">
                                            <p>Drag and drop or click here <br>to upload image</p>
                                            <span>Upload any image from desktop</span>
                                        </div>
                                    </div>
                                </label>
                            </div>
                        </div>

                    {% endif %}

                    {% if step == 4 %}
                        <div class="form-group">
                            <label for="name" class="form-label">Выведите описание вашего компании: </label>
                            {{ forms.4.description }}
                        </div>

                        <div class="form-group">
                            <label for="name" class="form-label">Страна: </label>
                            {{ forms.4.country }}
                        </div>

                    {% endif %}

                    <div class="form-buttons">
                        {% if step > 0 %}
                            <button type="submit" name="step" value="{{ step }}" class="btn btn-secondary">Назад
                            </button>
                        {% endif %}

                        {% if step < forms|length|add:"-1" %}
                            <button type="submit" name="step" value="{{ step }}" class="btn btn-primary">Следующий
                            </button>
                        {% endif %}

                        {% if step == forms|length|add:"-1" %}
                            <button type="submit" name="step" value="{{ step }}" class="btn btn-success">Создать
                                компанию
                            </button>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>

<script src="{% static 'user/js/script.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        const categorySelect = $('#id_category');
        const subcategoryGroup = $('#subcategory-group');
        const subcategoryCheckboxes = $('#subcategories-checkboxes');
        const tagsGroup = $('#tags-group');
        const tagsCheckboxes = $('#tags-checkboxes');
        const language = $('html').attr('lang') || 'ru'; // Get language from HTML attribute
        const placeholderText = {
            'ru': {
                'title': "Я ищу термопластичную машину",
                'description': "должен производить продукт по 150 гр.",
            },
            'en': {
                'title': "I'm looking for a thermoplastic machine",
                'description': 'Enter description',
            },
            "uz": {
                'title': "Termoplastavtomat qidiryapman",
                'description': "150 gr lik mahsulot chiqarishi kerak",
            }
        };
        const languageText = {
            'ru': 'Выберите категорию',
            'en': 'Select a category',
            'uz': 'Ketegoriyani tanlang',
        };

        $('#id_title').attr('placeholder', placeholderText[language]['title']);
        $('#id_description').attr('placeholder', placeholderText[language]['description']);
        categorySelect.find('option[value=""]').text(languageText[language]);

        function loadSubcategories() {
            const selectedCategoryId = categorySelect.val();

            subcategoryCheckboxes.empty();

            if (selectedCategoryId) {
                subcategoryGroup.show();
                tagsGroup.hide();
                $.ajax({
                    url: `/${language}/related_to_it/?category_id=${selectedCategoryId}`,
                    dataType: 'json',
                    success: function (data) {
                        console.log(data.subcategories);

                        $.each(data.subcategories, function (key, value) {
                            const checkboxContainer = $('<div>').addClass('cat action');
                            const label = $('<label>');
                            const checkbox = $('<input type="checkbox">')
                                .attr('id', `subcategory-${key}`)
                                .attr('name', 'subcategories')
                                .attr('value', key)
                                .appendTo(label);

                            label.append(checkbox);
                            label.append(`<span>${value}</span>`);
                            checkboxContainer.append(label);
                            subcategoryCheckboxes.append(checkboxContainer);
                        });
                    }
                });
            } else {
                subcategoryGroup.hide();
                tagsGroup.hide();
            }
        }

        categorySelect.change(loadSubcategories);
        loadSubcategories();

        function getSelectedSubcategories() {
            const selectedSubcategories = [];
            subcategoryCheckboxes.find('input[name="subcategories"]:checked').each(function () {
                selectedSubcategories.push($(this).val());
            });
            return selectedSubcategories;
        }

        function loadTags() {
            const selectedSubcategories = getSelectedSubcategories();

            tagsCheckboxes.empty();
            const selectedCategoryId = categorySelect.val();

            if (selectedSubcategories.length > 0) {
                const addedTags = {};

                selectedSubcategories.forEach(function (subcategoryId) {
                    $.ajax({
                        url: `/${language}/related_to_it/?category_id=${selectedCategoryId}&subcategory_id=${subcategoryId}`,
                        dataType: 'json',
                        success: function (data) {
                            console.log(`Tags for Subcategory ${subcategoryId}:`, data.tags);

                            $.each(data.tags, function (key, value) {
                                if (!addedTags[key]) {
                                    const checkboxContainer = $('<div>').addClass('cat action');
                                    const label = $('<label>');
                                    const checkbox = $('<input type="checkbox">')
                                        .attr('id', `tag-${key}`)
                                        .attr('name', 'tags')
                                        .attr('value', key)
                                        .appendTo(label);

                                    label.append(checkbox);
                                    label.append(`<span>${value}</span>`);
                                    checkboxContainer.append(label);
                                    tagsCheckboxes.append(checkboxContainer);

                                    addedTags[key] = true;
                                }
                            });
                        }
                    });
                });

                tagsGroup.show();
            } else {
                tagsGroup.hide();
            }
        }

        subcategoryCheckboxes.on('change', loadTags);
        loadTags();
    });
</script>


</body>
</html>



