{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "product/css/product/style.css" %}">
    <link rel="stylesheet" href="{% static "product/css/product/main.css" %}">
    <link rel="stylesheet" href="{% static "product/css/product/packets.css" %}">
</head>

<body>
{% include "nav_bar.html" %}

<div class="container">
    <form method="post">
        <input type="hidden" name="product" value="{{ product_pk }}">
        {% csrf_token %}
        <div class="cards-container">

            <div class="card-container">
                <div class="card" data-package="start">
                    <input type="radio" id="package_start" name="package" value="start">
                    <label for="package_start">
                        <img src="{% static "product/images/banners/banner-ishlatilgan-uskuna.svg" %}"
                             alt="Start Package">
                        <h2>Standard</h2>
                        <p class="price">Цена: 40.000</p>
                        <p class="info">Продвижение вашего продукта</p>
                        <ul class="features">
                            <li>Стандартный обявление</li>
                        </ul>
                        <button type="button" class="select-package">Выбрать</button>
                    </label>
                </div>
                <div class="card" data-package="good">
                    <input type="radio" id="package_good" name="package" value="good">
                    <label for="package_good">
                        <img src="{% static "product/images/banners/banner-texnolog.svg" %}" alt="Good Package">
                        <h2>Premium</h2>
                        <p class="price">Цена: 75.000</p>
                        <p class="info">Эффективное продвижение</p>
                        <ul class="features">
                            <li>Улучшенная видимость</li>
                            <li>ТОП за неделю</li>
                        </ul>
                        <button type="button" class="select-package">Выбрать</button>
                    </label>
                </div>
                <div class="card" data-package="super">
                    <input type="radio" id="package_super" name="package" value="super">
                    <label for="package_super">
                        <img src="{% static "product/images/banners/banner-xizmat-korsatish.svg" %}"
                             alt="Super Package">
                        <h2>VIP</h2>
                        <p class="price">Цена: 150.000</p>
                        <p class="info">Максимальное продвижение</p>
                        <ul class="features">
                            <li>Видимость в топе</li>
                            <li>Поднимаем топ 4 раза в месяц</li>
                        </ul>
                        <button type="button" class="select-package">Выбрать</button>
                    </label>
                </div>
            </div>

            <div class="button-container">
                {#                <button id="back-button">Назад</button>#}
                <button id="purchase-button">Приобрести</button>
            </div>
        </div>
    </form>


</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Получаем все карточки
        const cards = document.querySelectorAll('.card');

        // Для каждой карточки добавляем обработчик события клика
        cards.forEach(function (card) {
            card.addEventListener('click', function () {
                // Получаем радио-кнопку внутри текущей карточки
                const radio = card.querySelector('input[type="radio"]');

                // Устанавливаем состояние кнопки
                radio.checked = true;

                // Изменяем текст кнопки на "Сбросить" для текущей карточки
                const button = card.querySelector('.select-package');
                button.textContent = 'Сбросить';

                // Сбрасываем текст кнопки на "Выбрать" для остальных карточек
                cards.forEach(function (otherCard) {
                    if (otherCard !== card) {
                        const otherButton = otherCard.querySelector('.select-package');
                        otherButton.textContent = 'Выбрать';
                    }
                });
            });
        });
    });


    document.addEventListener('DOMContentLoaded', function () {
        // Получаем все карточки
        const cards = document.querySelectorAll('.card');

        // Для каждой карточки добавляем обработчик события клика
        cards.forEach(function (card) {
            card.addEventListener('click', function () {
                // Получаем радио-кнопку внутри текущей карточки
                const radio = card.querySelector('input[type="radio"]');

                // Переключаем состояние радио-кнопки
                radio.checked = true;

                // Добавляем класс "checked" к родительской карточке
                card.classList.add('checked');

                // Убираем класс "checked" у других карточек
                cards.forEach(function (otherCard) {
                    if (otherCard !== card) {
                        otherCard.classList.remove('checked');
                    }
                });
            });
        });
    });


    document.addEventListener("DOMContentLoaded", function () {
        const dropdownHeadButton = document.querySelector(".dropdown-head-button");
        const dropdownList = document.querySelector(".dropdown-list");
        const dropdownItems = document.querySelectorAll(".dropdown-item");

        dropdownHeadButton.addEventListener("click", function () {
            dropdownList.classList.toggle("open");
        });

        dropdownItems.forEach(function (item) {
            item.addEventListener("click", function () {
                const days = this.dataset.days;
                dropdownHeadButton.textContent = "Выбрано " + days + " дней"; // Изменение текста кнопки
                console.log("Выбрано " + days + " дней");
                dropdownList.classList.remove("open");
            });
        });
    });


</script>


</body>
</html>


{#            <h2>text</h2>#}


{#            <div class="promote-vas-variants">#}
{#                <div class="promote-vas-variant">#}
{#                    <input id="topads_7" type="checkbox">#}
{#                    <label class="label">#}
{#                        <p class="info">Размещение в ТОП в течение 7 дней</p>#}
{##}
{#                        <div class="dropdown">#}
{#                            <div class="dropdown-head">#}
{#                                <button type="button" class="dropdown-head-button">Выберите срок</button>#}
{#                            </div>#}
{#                            <ul class="dropdown-list">#}
{#                                <li class="dropdown-item" data-days="7">#}
{#                                    7 дней#}
{#                                </li>#}
{#                                <li class="dropdown-item" data-days="30">#}
{#                                    <button type="button" class="dropdown-checkmark">30 дней</button>#}
{#                                    30 дней#}
{#                                </li>#}
{#                            </ul>#}
{#                        </div>#}
{##}
{#                    </label>#}
{#                    <div class="price-info">#}
{#                        <div class="price">#}
{#                            <h4>9 500 сум</h4>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="promote-vas-variant">#}
{#                    <label class="label">#}
{#                        <input id="topads_7" type="checkbox">#}
{#                        <svg class="tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">#}
{#                            <path fill="currentColor" fill-rule="evenodd"#}
{#                                  d="m20.586 5-1.271 1.296L8 17.836l-3.315-3.38-1.271-1.297H2v1.443l1.271 1.296L7.293 20h1.414L20.73 7.738 22 6.442V5z"></path>#}
{#                        </svg>#}
{#                        <p class="info">Размещение в ТОП в течение 7 дней</p>#}
{#                        <div class="dropdown">#}
{#                            <button type="button" class="dropdown-head">7 дней</button>#}
{#                            <button type="button" class="dropdown-expand-button">#}
{#                                <svg class="expand-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">#}
{#                                    <path fill="currentColor" fill-rule="evenodd"#}
{#                                          d="M2.001 6.5h1.414l1.27 1.271 7.316 7.315 7.315-7.315L20.587 6.5h1.414v1.414l-1.27 1.27-7.316 7.316-1 1h-.827l-3.942-3.942-4.374-4.374-1.27-1.27z"></path>#}
{#                                </svg>#}
{#                            </button>#}
{#                        </div>#}
{#                    </label>#}
{#                    <div class="price-info">#}
{#                        <div class="price">#}
{#                            <h4>9 500 сум</h4>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="promote-vas-variant">#}
{#                    <label class="label">#}
{#                        <input id="topads_7" type="checkbox">#}
{#                        <svg class="tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">#}
{#                            <path fill="currentColor" fill-rule="evenodd"#}
{#                                  d="m20.586 5-1.271 1.296L8 17.836l-3.315-3.38-1.271-1.297H2v1.443l1.271 1.296L7.293 20h1.414L20.73 7.738 22 6.442V5z"></path>#}
{#                        </svg>#}
{#                        <p class="info">Размещение в ТОП в течение 7 дней</p>#}
{#                        <div class="dropdown">#}
{#                            <button type="button" class="dropdown-head">7 дней</button>#}
{#                            <button type="button" class="dropdown-expand-button">#}
{#                                <svg class="expand-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">#}
{#                                    <path fill="currentColor" fill-rule="evenodd"#}
{#                                          d="M2.001 6.5h1.414l1.27 1.271 7.316 7.315 7.315-7.315L20.587 6.5h1.414v1.414l-1.27 1.27-7.316 7.316-1 1h-.827l-3.942-3.942-4.374-4.374-1.27-1.27z"></path>#}
{#                                </svg>#}
{#                            </button>#}
{#                        </div>#}
{#                    </label>#}
{#                    <div class="price-info">#}
{#                        <div class="price">#}
{#                            <h4>9 500 сум</h4>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
