{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Tecnoprom</title>
    <link rel="icon" href="{% static 'product/images/categories/yangi-uskunalar-24px.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'product/css/product/main.css' %}">
    <link rel="stylesheet" href="{% static 'product/css/product/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>

<body>

{% include 'nav_bar.html' %}

{% include 'messages.html' %}

<!-- Topmost section -->
<div class="main-banner">
    <div class="container">
        <section id="price__form-section" class="price__form-section">
            <div class="price__form-text">
                <span>{% translate 'Всё для производства' %}</span>
                <br>
                <span>{% translate 'найти и сделать ставку в одном месте!' %}</span>
            </div>
            <div class="price__form-buttons">
                <ul class="price__form-button__items">

                    <li class="price__form-button__item btn_active" data-image="vtorichniy-siryo.svg"
                        data-category-id="10">
                        {% translate "Вторичный сырьё" %}
                    </li>
                    <li class="price__form-button__item" data-image="banner-yangi-uskuna.svg"
                        data-category-id="1">
                        {% translate "Новое оборудование" %}
                    </li>
                    <li class="price__form-button__item" data-image="banner-ishlatilgan-uskuna.svg"
                        data-category-id="2">
                        {% translate "Б/у оборудование" %}
                    </li>
                    <li class="price__form-button__item" data-image="banner-xom-ashyo.svg"
                        data-category-id="3">
                        {% translate "Сырьё" %}
                    </li>
                    <li class="price__form-button__item" data-image="banner-xizmat-korsatish.svg"
                        data-category-id="8">
                        {% translate "Услуга" %}
                    </li>
                    <li class="price__form-button__item" data-image="banner-texnolog.svg"
                        data-category-id="9">
                        {% translate "Технолог" %}
                    </li>

                </ul>
            </div>
        </section>
    </div>
</div>
<!-- /Topmost section -->

<!-- Form and image -->
<div id="price-form" class="container">
    <section class="price-form">
        <div class="price__image-form">
            <div class="price__image-form-titles">
                <h2 class="style-title-home">{% translate "Найдите необходимое вам" %}<span class="border-color"
                                                                                            style="background-color: #D4E9FF; border-radius: 20px; padding: 6px 10px;">{% translate "сырье" %} </span>
                    {% translate "или предложите его на переработку!" %}</h2>
                <h2 class="style-title-home">{% translate "Мгновенно" %}<span class="border-color"
                                                                              style="background-color: #D4E9FF; border-radius: 20px; padding: 6px 10px;">{% translate "найдите" %} </span>
                    {% translate "нужного вам поставщика оборудования" %}</h2>
                <h2 class="style-title-home">{% translate "Здесь вы найдете" %}<span class="border-color"
                                                                                     style="background-color: #D4E9FF; border-radius: 20px; padding: 6px 10px;">{% translate "б/у технику" %} </span>
                    {% translate "ожидающую нового владельца." %}</h2>
                <h2 class="style-title-home">{% translate "Быстро найти необходимое" %}<span class="border-color"
                                                                                             style="background-color: #D4E9FF; border-radius: 20px; padding: 6px 10px;">{% translate "сырье" %} </span>
                    {% translate "для вашего производства" %}</h2>
                <h2 class="style-title-home">{% translate "Найдите проверенных" %}<span class="border-color"
                                                                                        style="background-color: #D4E9FF; border-radius: 20px; padding: 6px 10px;">{% translate "производителей" %} </span>
                    {% translate "для вашего продукта" %}</h2>
                <h2 class="style-title-home">{% translate "Здесь вы найдете " %}<span class="border-color"
                                                                                      style="background-color: #D4E9FF; border-radius: 20px; padding: 6px 10px;">{% translate "технологов, инженеров," %} </span>
                    {% translate "операторов и мастеров." %}</h2>
            </div>
            <img id="bannerImage" src="{% static 'product/images/banners/vtorichniy-siryo.svg' %}" alt="">
        </div>

        <div class="price__form-form">
            <form class="custom-form" method="post">
                {% csrf_token %}
                <div class="form-group" style="position: relative">
                    <label for="name" class="form-label">{% translate "Заголовок" %}:
                        {% for error in form.title.errors %}
                            <div class="error-message">{{ error }}</div>
                        {% endfor %}</label>
                    {{ form.title }}
                    <div id="char-count title" class="char-count__title">0 / 100</div>
                </div>
                <div class="form-group">
                    <label for="description" class="form-label">{% translate "Описание" %}:
                        {% for error in form.description.errors %}
                            <div class="error-message">{{ error }}</div>
                        {% endfor %}</label>
                    {{ form.description }}
                    <div id="char-count description" class="char-count__description">0 / 800</div>
                </div>
                <div class="form-group">
                    <label for="category" class="form-label">{% translate "Категория" %}:
                        {% for error in form.category.errors %}
                            <div class="error-message">{{ error }}</div>
                        {% endfor %}</label>
                    {{ form.category }}
                </div>
                <div class="form-group" id="subcategory-group">
                    <label for="subcategory" class="form-label">{% translate "Субкатегория" %}:
                        {% for error in form.sub_category.errors %}
                            <div class="error-message">{{ error }}</div>
                        {% endfor %}</label>
                    <div id="subcategories-checkboxes"></div>
                </div>
                <div class="form-group" id="tags-group" style="display: block">
                    <label for="tags" class="form-label">{% translate "Теги" %}:{% for error in form.tags.errors %}
                        <div class="error-message">{{ error }}</div>
                    {% endfor %}</label>
                    <div id="tags-checkboxes">
                    </div>
                </div>
                <div class="form-group">
                    <label for="phone" class="form-label">{% translate "Телефон" %}:
                        {% for error in form.telephone.errors %}
                            <div class="error-message">{{ error }}</div>
                        {% endfor %}</label>
                    {#                    {{ form.telephone }}#}
                    <div class="text-16-24 text-black-800 sm:text-14-20 PhoneInput form-group">
                        <div class="PhoneInputCountry relative">
                            <select name="phoneCountry"
                                    aria-label="Phone number country"
                                    class="PhoneInputCountrySelect">
                                <option value="ZZ">International</option>
                                <option value="AF">Afghanistan</option>
                                <option value="AX">Åland Islands</option>
                                <option value="AL">Albania</option>
                                <option value="DZ">Algeria</option>
                                <option value="AS">American Samoa</option>
                                <option value="AD">Andorra</option>
                                <option value="AO">Angola</option>
                                <option value="AI">Anguilla</option>
                                <option value="AG">Antigua and Barbuda</option>
                                <option value="AR">Argentina</option>
                                <option value="AM">Armenia</option>
                                <option value="AW">Aruba</option>
                                <option value="AC">Ascension Island</option>
                                <option value="AU">Australia</option>
                                <option value="AT">Austria</option>
                                <option value="AZ">Azerbaijan</option>
                                <option value="BS">Bahamas</option>
                                <option value="BH">Bahrain</option>
                                <option value="BD">Bangladesh</option>
                                <option value="BB">Barbados</option>
                                <option value="BY">Belarus</option>
                                <option value="BE">Belgium</option>
                                <option value="BZ">Belize</option>
                                <option value="BJ">Benin</option>
                                <option value="BM">Bermuda</option>
                                <option value="BT">Bhutan</option>
                                <option value="BO">Bolivia</option>
                                <option value="BQ">Bonaire, Sint Eustatius and Saba</option>
                                <option value="BA">Bosnia and Herzegovina</option>
                                <option value="BW">Botswana</option>
                                <option value="BR">Brazil</option>
                                <option value="IO">British Indian Ocean Territory</option>
                                <option value="BN">Brunei Darussalam</option>
                                <option value="BG">Bulgaria</option>
                                <option value="BF">Burkina Faso</option>
                                <option value="BI">Burundi</option>
                                <option value="KH">Cambodia</option>
                                <option value="CM">Cameroon</option>
                                <option value="CA">Canada</option>
                                <option value="CV">Cape Verde</option>
                                <option value="KY">Cayman Islands</option>
                                <option value="CF">Central African Republic</option>
                                <option value="TD">Chad</option>
                                <option value="CL">Chile</option>
                                <option value="CN">China</option>
                                <option value="CX">Christmas Island</option>
                                <option value="CC">Cocos (Keeling) Islands</option>
                                <option value="CO">Colombia</option>
                                <option value="KM">Comoros</option>
                                <option value="CG">Congo</option>
                                <option value="CD">Congo, Democratic Republic of the</option>
                                <option value="CK">Cook Islands</option>
                                <option value="CR">Costa Rica</option>
                                <option value="CI">Cote d'Ivoire</option>
                                <option value="HR">Croatia</option>
                                <option value="CU">Cuba</option>
                                <option value="CW">Curaçao</option>
                                <option value="CY">Cyprus</option>
                                <option value="CZ">Czech Republic</option>
                                <option value="DK">Denmark</option>
                                <option value="DJ">Djibouti</option>
                                <option value="DM">Dominica</option>
                                <option value="DO">Dominican Republic</option>
                                <option value="EC">Ecuador</option>
                                <option value="EG">Egypt</option>
                                <option value="SV">El Salvador</option>
                                <option value="GQ">Equatorial Guinea</option>
                                <option value="ER">Eritrea</option>
                                <option value="EE">Estonia</option>
                                <option value="ET">Ethiopia</option>
                                <option value="FK">Falkland Islands</option>
                                <option value="FO">Faroe Islands</option>
                                <option value="FM">Federated States of Micronesia</option>
                                <option value="FJ">Fiji</option>
                                <option value="FI">Finland</option>
                                <option value="FR">France</option>
                                <option value="GF">French Guiana</option>
                                <option value="PF">French Polynesia</option>
                                <option value="GA">Gabon</option>
                                <option value="GM">Gambia</option>
                                <option value="GE">Georgia</option>
                                <option value="DE">Germany</option>
                                <option value="GH">Ghana</option>
                                <option value="GI">Gibraltar</option>
                                <option value="GR">Greece</option>
                                <option value="GL">Greenland</option>
                                <option value="GD">Grenada</option>
                                <option value="GP">Guadeloupe</option>
                                <option value="GU">Guam</option>
                                <option value="GT">Guatemala</option>
                                <option value="GG">Guernsey</option>
                                <option value="GN">Guinea</option>
                                <option value="GW">Guinea-Bissau</option>
                                <option value="GY">Guyana</option>
                                <option value="HT">Haiti</option>
                                <option value="VA">Holy See (Vatican City State)</option>
                                <option value="HN">Honduras</option>
                                <option value="HK">Hong Kong</option>
                                <option value="HU">Hungary</option>
                                <option value="IS">Iceland</option>
                                <option value="IN">India</option>
                                <option value="ID">Indonesia</option>
                                <option value="IR">Iran</option>
                                <option value="IQ">Iraq</option>
                                <option value="IE">Ireland</option>
                                <option value="IM">Isle of Man</option>
                                <option value="IL">Israel</option>
                                <option value="IT">Italy</option>
                                <option value="JM">Jamaica</option>
                                <option value="JP">Japan</option>
                                <option value="JE">Jersey</option>
                                <option value="JO">Jordan</option>
                                <option value="KZ">Kazakhstan</option>
                                <option value="KE">Kenya</option>
                                <option value="KI">Kiribati</option>
                                <option value="XK">Kosovo</option>
                                <option value="KW">Kuwait</option>
                                <option value="KG">Kyrgyzstan</option>
                                <option value="LA">Laos</option>
                                <option value="LV">Latvia</option>
                                <option value="LB">Lebanon</option>
                                <option value="LS">Lesotho</option>
                                <option value="LR">Liberia</option>
                                <option value="LY">Libya</option>
                                <option value="LI">Liechtenstein</option>
                                <option value="LT">Lithuania</option>
                                <option value="LU">Luxembourg</option>
                                <option value="MO">Macao</option>
                                <option value="MG">Madagascar</option>
                                <option value="MW">Malawi</option>
                                <option value="MY">Malaysia</option>
                                <option value="MV">Maldives</option>
                                <option value="ML">Mali</option>
                                <option value="MT">Malta</option>
                                <option value="MH">Marshall Islands</option>
                                <option value="MQ">Martinique</option>
                                <option value="MR">Mauritania</option>
                                <option value="MU">Mauritius</option>
                                <option value="YT">Mayotte</option>
                                <option value="MX">Mexico</option>
                                <option value="MD">Moldova</option>
                                <option value="MC">Monaco</option>
                                <option value="MN">Mongolia</option>
                                <option value="ME">Montenegro</option>
                                <option value="MS">Montserrat</option>
                                <option value="MA">Morocco</option>
                                <option value="MZ">Mozambique</option>
                                <option value="MM">Myanmar</option>
                                <option value="NA">Namibia</option>
                                <option value="NR">Nauru</option>
                                <option value="NP">Nepal</option>
                                <option value="NL">Netherlands</option>
                                <option value="NC">New Caledonia</option>
                                <option value="NZ">New Zealand</option>
                                <option value="NI">Nicaragua</option>
                                <option value="NE">Niger</option>
                                <option value="NG">Nigeria</option>
                                <option value="NU">Niue</option>
                                <option value="NF">Norfolk Island</option>
                                <option value="KP">North Korea</option>
                                <option value="MK">North Macedonia</option>
                                <option value="MP">Northern Mariana Islands</option>
                                <option value="NO">Norway</option>
                                <option value="OM">Oman</option>
                                <option value="PK">Pakistan</option>
                                <option value="PW">Palau</option>
                                <option value="PS">Palestine</option>
                                <option value="PA">Panama</option>
                                <option value="PG">Papua New Guinea</option>
                                <option value="PY">Paraguay</option>
                                <option value="PE">Peru</option>
                                <option value="PH">Philippines</option>
                                <option value="PL">Poland</option>
                                <option value="PT">Portugal</option>
                                <option value="PR">Puerto Rico</option>
                                <option value="QA">Qatar</option>
                                <option value="RE">Reunion</option>
                                <option value="RO">Romania</option>
                                <option value="RU">Russia</option>
                                <option value="RW">Rwanda</option>
                                <option value="BL">Saint Barthélemy</option>
                                <option value="SH">Saint Helena</option>
                                <option value="KN">Saint Kitts and Nevis</option>
                                <option value="LC">Saint Lucia</option>
                                <option value="MF">Saint Martin (French Part)</option>
                                <option value="PM">Saint Pierre and Miquelon</option>
                                <option value="VC">Saint Vincent and the Grenadines</option>
                                <option value="WS">Samoa</option>
                                <option value="SM">San Marino</option>
                                <option value="ST">Sao Tome and Principe</option>
                                <option value="SA">Saudi Arabia</option>
                                <option value="SN">Senegal</option>
                                <option value="RS">Serbia</option>
                                <option value="SC">Seychelles</option>
                                <option value="SL">Sierra Leone</option>
                                <option value="SG">Singapore</option>
                                <option value="SX">Sint Maarten</option>
                                <option value="SK">Slovakia</option>
                                <option value="SI">Slovenia</option>
                                <option value="SB">Solomon Islands</option>
                                <option value="SO">Somalia</option>
                                <option value="ZA">South Africa</option>
                                <option value="KR">South Korea</option>
                                <option value="SS">South Sudan</option>
                                <option value="ES">Spain</option>
                                <option value="LK">Sri Lanka</option>
                                <option value="SD">Sudan</option>
                                <option value="SR">Suriname</option>
                                <option value="SJ">Svalbard and Jan Mayen</option>
                                <option value="SZ">Swaziland</option>
                                <option value="SE">Sweden</option>
                                <option value="CH">Switzerland</option>
                                <option value="SY">Syria</option>
                                <option value="TW">Taiwan</option>
                                <option value="TJ">Tajikistan</option>
                                <option value="TZ">Tanzania</option>
                                <option value="TH">Thailand</option>
                                <option value="TL">Timor-Leste</option>
                                <option value="TG">Togo</option>
                                <option value="TK">Tokelau</option>
                                <option value="TO">Tonga</option>
                                <option value="TT">Trinidad and Tobago</option>
                                <option value="TA">Tristan da Cunha</option>
                                <option value="TN">Tunisia</option>
                                <option value="TR">Turkey</option>
                                <option value="TM">Turkmenistan</option>
                                <option value="TC">Turks and Caicos Islands</option>
                                <option value="TV">Tuvalu</option>
                                <option value="UG">Uganda</option>
                                <option value="UA">Ukraine</option>
                                <option value="AE">United Arab Emirates</option>
                                <option value="GB">United Kingdom</option>
                                <option value="US">United States</option>
                                <option value="UY">Uruguay</option>
                                <option value="UZ">Uzbekistan</option>
                                <option value="VU">Vanuatu</option>
                                <option value="VE">Venezuela</option>
                                <option value="VN">Vietnam</option>
                                <option value="VG">Virgin Islands, British</option>
                                <option value="VI">Virgin Islands, U.S.</option>
                                <option value="WF">Wallis and Futuna</option>
                                <option value="EH">Western Sahara</option>
                                <option value="YE">Yemen</option>
                                <option value="ZM">Zambia</option>
                                <option value="ZW">Zimbabwe</option>
                            </select>
                            <div aria-hidden="true" class="PhoneInputCountryIcon">
                                <img class="PhoneInputCountryIconImg"
                                     src="https://textilefinds.com/images/country-flags/UZ.png" alt="Uzbekistan Flag">
                            </div>
                            <div class="PhoneInputCountrySelectArrow"></div>
                        </div>
                        <input type="tel" name="telephone" class="form-input PhoneInputInput"
                               placeholder="+998 123 45 67"
                               id="id_telephone">
                    </div>
                </div>
                <div class="form-group">
                    <label for="telegram" class="form-label">{% translate "Телеграм" %}:
                        {% for error in form.telegram.errors %}
                            <div class="error-message">{{ error }}</div>
                        {% endfor %}</label>
                    {{ form.telegram }}
                </div>
                <div class="form-group" id="country-group">
                    <label for="country" class="form-label">
                        {% translate "Страна" %}{% for error in form.country.errors %}
                            <div class="error-message">{{ error }}</div>
                        {% endfor %}</label>
                    {{ form.country }}
                </div>
                <div class="form-group" id="city-group">
                    <label for="city" class="form-label">{% translate "Город" %}{% for error in form.city.errors %}
                        <div class="error-message">{{ error }}</div>
                    {% endfor %}</label>
                    {{ form.city }}
                </div>
                <div class="form-group__button">
                    <button class="form-button">{% translate "Отправить" %}</button>

                </div>
            </form>
        </div>
    </section>
</div>
<!-- /Form and image section -->

{#<div class="horizontal_line"></div>#}
<hr>
{% block content %}

{% endblock content %}


{% include 'footer.html' %}

<script src="{% static "product/js/style.js" %}"></script>

<script>
    $(document).ready(function () {
        $('.checkbox-container input[type="checkbox"]').change(function () {
            if ($(this).is(':checked')) {
                $(this).closest('.checkbox-container').addClass('checked');
            } else {
                $(this).closest('.checkbox-container').removeClass('checked');
            }
        });
    });

</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        const categorySelect = $('#id_category');
        const subcategoryGroup = $('#subcategory-group');
        const subcategoryCheckboxes = $('#subcategories-checkboxes');
        const tagsGroup = $('#tags-group');
        const tagsCheckboxes = $('#tags-checkboxes');
        const pathParts = window.location.pathname.split('/');
        const language = pathParts[1] ? pathParts[1] : 'ru';
        const placeholderText = {
            'ru': {
                'title': "Я ищу термопластичную машину",
                'description': "должен производить продукт по 150 гр.",
            },
            'en': {
                'title': "I'm looking for a thermoplastic machine",
                'description': 'Enter description',
            },
            "uz": {
                'title': "Termoplastavtomat qidiryapman",
                'description': "150 gr lik mahsulot chiqarishi kerak",
            }
        };
        const languageText = {
            'ru': 'Выберите категорию',
            'en': 'Select a category',
            'uz': 'Ketegoriyani tanlang',
        };

        $('#id_title').attr('placeholder', placeholderText[language]['title']);
        $('#id_description').attr('placeholder', placeholderText[language]['description']);
        categorySelect.find('option[value=""]').text(languageText[language]);

        function loadSubcategories() {
            const selectedCategoryId = categorySelect.val();

            subcategoryCheckboxes.empty();

            if (selectedCategoryId) {
                subcategoryGroup.show();
                tagsGroup.hide()
                $.ajax({
                    url: `/${language}/related_to_it/?category_id=${selectedCategoryId}`,
                    dataType: 'json',
                    success: function (data) {
                        console.log(data.subcategories);

                        $.each(data.subcategories, function (key, value) {
                            const checkboxContainer = $('<div>').addClass('cat action');
                            const label = $('<label>');
                            const checkbox = $('<input type="checkbox">')
                                .attr('id', `subcategory-${key}`)
                                .attr('name', 'subcategories')
                                .attr('value', key)
                                .appendTo(label);

                            label.append(checkbox);
                            label.append(`<span>${value}</span>`);
                            checkboxContainer.append(label);
                            subcategoryCheckboxes.append(checkboxContainer);
                        });
                    }
                });
            } else {
                subcategoryGroup.hide();
                tagsGroup.hide()
            }
        }

        categorySelect.change(loadSubcategories);
        loadSubcategories();

        function getSelectedSubcategories() {
            const selectedSubcategories = [];
            subcategoryCheckboxes.find('input[name="subcategories"]:checked').each(function () {
                selectedSubcategories.push($(this).val());
            });
            return selectedSubcategories;
        }

        function loadTags() {
            const selectedSubcategories = getSelectedSubcategories();

            tagsCheckboxes.empty();
            const selectedCategoryId = categorySelect.val();

            if (selectedSubcategories.length > 0) {
                // Создаем объект для хранения добавленных тегов
                const addedTags = {};

                selectedSubcategories.forEach(function (subcategoryId) {
                    $.ajax({
                        url: `/${language}/related_to_it/?category_id=${selectedCategoryId}&subcategory_id=${subcategoryId}`,
                        dataType: 'json',
                        success: function (data) {
                            console.log(`Tags for Subcategory ${subcategoryId}:`, data.tags);

                            $.each(data.tags, function (key, value) {
                                // Проверяем, не был ли уже добавлен такой тег
                                if (!addedTags[key]) {
                                    const checkboxContainer = $('<div>').addClass('cat action');
                                    const label = $('<label>');
                                    const checkbox = $('<input type="checkbox">')
                                        .attr('id', `tag-${key}`)
                                        .attr('name', 'tags')
                                        .attr('value', key)
                                        .appendTo(label);

                                    label.append(checkbox);
                                    label.append(`<span>${value}</span>`);
                                    checkboxContainer.append(label);
                                    tagsCheckboxes.append(checkboxContainer);

                                    // Добавляем тег в объект добавленных тегов
                                    addedTags[key] = true;
                                }
                            });
                        }
                    });
                });

                tagsGroup.show();
            } else {
                tagsGroup.hide();
            }
        }

        subcategoryCheckboxes.on('change', loadTags);
        loadTags();
    });

</script>

<script>
    const categorySelect = document.getElementById('id_category');
    const subcategorySelect = document.getElementById('id_sub_category');
    const buttons = document.querySelectorAll('.price__form-button__item');
    const bannerImage = document.getElementById('bannerImage');

    buttons.forEach(button => {
        button.addEventListener('click', (event) => {
            event.preventDefault();
            buttons.forEach(btn => btn.classList.remove('btn_active'));
            button.classList.add('btn_active');

            const categoryID = button.getAttribute('data-category-id');
            const categoryOption = Array.from(categorySelect.options).find(option => option.value === categoryID);

            if (categoryOption) {
                categorySelect.value = categoryOption.value;
            }

            // Вручную вызываем обработчики событий change
            categorySelect.dispatchEvent(new Event('change'));

            const imageName = button.getAttribute('data-image');
            {#bannerImage.src = `/public/product/about_us/banners/${imageName}`;#}
            bannerImage.src = `/static/product/images/banners/${imageName}`;

        });
    });
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const buttons = document.querySelectorAll('.price__form-button__item');
        const titles = document.querySelectorAll('.style-title-home');

        // Hide all titles except the first one
        for (let i = 1; i < titles.length; i++) {
            titles[i].style.display = 'none';
        }

        buttons.forEach((button, index) => {
            button.addEventListener('click', (event) => {
                event.preventDefault();

                // Hide all titles
                titles.forEach(title => {
                    title.style.display = 'none';
                });

                // Show the corresponding title
                titles[index].style.display = 'flex';
            });
        });
    });
</script>


<script>
    $(document).ready(function () {
        // Функция, которая будет вызываться при изменении поля "Страна"
        $("#id_country").change(function () {
            // Получаем значение выбранной страны
            var selectedCountry = $(this).val();

            // Если выбран Узбекистан, показываем поле "Город", иначе скрываем его
            if (selectedCountry === "1") {
                $("#city-group").show();
            } else {
                $("#city-group").hide();
            }
        });

        // Инициализация состояния поля "Город" при загрузке страницы
        if ($("#country").val() === "1") {
            $("#city-group").show();
        } else {
            $("#city-group").hide();
        }
    });
</script>

<script>
    // Обработчик события изменения поля загрузки файла
    document.getElementById('id_image').addEventListener('change', function (e) {
        var input = e.target;
        var imagePreview = document.getElementById('image-preview');

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                imagePreview.src = e.target.result;
                imagePreview.style.display = 'block'; // Отобразить превью изображения
            };

            reader.readAsDataURL(input.files[0]);
        }
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const descriptionField = document.getElementById('id_description');
        const charCount = document.getElementById('char-count description');

        descriptionField.addEventListener('input', function () {
            const currentLength = descriptionField.value.length;
            charCount.textContent = currentLength + ' / 800';

            // Если текст приближается к лимиту (например, 750 символов),
            // можно изменить цвет на красный
            if (currentLength >= 750) {
                charCount.style.color = 'red';
            } else {
                charCount.style.color = ''; // Сбросить цвет, если не приближается к лимиту
            }
        });
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const titleField = document.getElementById('{{ form.title.id_for_label }}');
        const charCount = document.getElementById('char-count title');

        titleField.addEventListener('input', function () {
            const currentLength = titleField.value.length;
            charCount.textContent = currentLength + ' / 100';

            // Если текст приближается к лимиту (например, 90 символов),
            // можно изменить цвет на красный
            if (currentLength >= 90) {
                charCount.style.color = 'red';
            } else {
                charCount.style.color = ''; // Сбросить цвет, если не приближается к лимиту
            }
        });
    });
</script>


</body>
</html>